infrastructure/n8n/archive-backfill-cron.json
{
  "name": "archive-backfill-cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 10 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CREATOR_HUB_URL }}/api/meta/archive/backfill?pageBudget=3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "http-archive-backfill",
      "name": "POST /api/meta/archive/backfill?pageBudget=3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "check-ok",
              "leftValue": "={{ $json.body.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Backfill OK ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json.body.result;\nconst summary = [\n  `✅ Archive backfill tick`,\n  `Status: ${result.status}`,\n  `Stopped: ${result.stoppedReason}`,\n  `Pages: ${result.pagesThisRun}`,\n  `Fetched: ${result.fetchedThisRun} | Upserted: ${result.upsertedThisRun} | Skipped: ${result.skippedThisRun}`,\n  `Stale cleared: ${result.staleCleared}`,\n  `Cumulative upserted: ${result.totals.upsertedCount}`\n].join('\\n');\n\nreturn [{ json: { summary, result } }];"
      },
      "id": "format-success",
      "name": "Format success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const statusCode = $input.first().json.statusCode;\nconst error = $input.first().json.body?.error ?? 'Unknown error';\nreturn [{ json: { error, statusCode, summary: `❌ Archive backfill failed: ${error}` } }];"
      },
      "id": "format-error",
      "name": "Format error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Every 10 min": {
      "main": [
        [{ "node": "POST /api/meta/archive/backfill?pageBudget=3", "type": "main", "index": 0 }]
      ]
    },
    "POST /api/meta/archive/backfill?pageBudget=3": {
      "main": [
        [{ "node": "Backfill OK ?", "type": "main", "index": 0 }]
      ]
    },
    "Backfill OK ?": {
      "main": [
        [{ "node": "Format success", "type": "main", "index": 0 }],
        [{ "node": "Format error",   "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "creator-hub",
    "notes": "Conservative tick (pageBudget=3) for the metadata-only archive backfill. Uses N8N_API_KEY shared with /api/meta/sync. Endpoint is idempotent and self-locking; this workflow is import-only and remains INACTIVE until enabled manually in n8n."
  },
  "tags": [
    { "name": "instagram",        "createdAt": "2026-05-02" },
    { "name": "archive-backfill", "createdAt": "2026-05-02" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-05-02T00:00:00.000Z",
  "versionId": "1",
  "active": false
}
