infrastructure/n8n/brand-watch-digest.json
{
  "name": "brand-watch-digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 5"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "CRON Friday 08:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CREATOR_HUB_URL }}/api/automations/brand-watch-digest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",  "value": "=Bearer {{ $env.N8N_API_KEY }}" },
            { "name": "Content-Type",   "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "timeout": 60000,
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "http-digest",
      "name": "POST /api/automations/brand-watch-digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (!body || !body.ok) {\n  return [{ json: { summary: `❌ Brand watch digest failed: ${body && body.error}` } }];\n}\nconst r = body.result;\nreturn [{ json: { summary: `🛰 ${r.totalEvents} événements · ${r.matchedEvents} matched · ${r.ambiguousEvents} ambigus · ${r.unmatchedEvents} non matchés · ${r.activeWatches} watchlists actives`, result: r } }];"
      },
      "id": "format-result",
      "name": "Format result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "CRON Friday 08:00 UTC": {
      "main": [[{ "node": "POST /api/automations/brand-watch-digest", "type": "main", "index": 0 }]]
    },
    "POST /api/automations/brand-watch-digest": {
      "main": [[{ "node": "Format result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false, "instanceId": "creator-hub" },
  "tags": [{ "name": "watchlist", "createdAt": "2026-04-21" }],
  "triggerCount": 1,
  "updatedAt": "2026-04-21T00:00:00.000Z",
  "versionId": "2"
}
