infrastructure/n8n/followup-reminder.json
{
  "name": "followup-reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "CRON 07:00 UTC daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CREATOR_HUB_URL }}/api/automations/followup-reminders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",  "value": "=Bearer {{ $env.N8N_API_KEY }}" },
            { "name": "Content-Type",   "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "timeout": 60000,
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "http-followups",
      "name": "POST /api/automations/followup-reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (!body || !body.ok) {\n  return [{ json: { summary: `❌ Followups failed: ${body && body.error}` } }];\n}\nconst list = body.result.dueToday;\nif (list.length === 0) {\n  return [{ json: { summary: 'No follow-ups due today.' } }];\n}\nconst lines = list.map(t => `• ${t.label}`).join('\\n');\nreturn [{ json: { summary: `🔔 ${list.length} follow-up(s) due today\\n${lines}`, tasks: list } }];"
      },
      "id": "format-result",
      "name": "Format result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "CRON 07:00 UTC daily": {
      "main": [[{ "node": "POST /api/automations/followup-reminders", "type": "main", "index": 0 }]]
    },
    "POST /api/automations/followup-reminders": {
      "main": [[{ "node": "Format result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false, "instanceId": "creator-hub" },
  "tags": [{ "name": "reminders", "createdAt": "2026-04-21" }],
  "triggerCount": 1,
  "updatedAt": "2026-04-21T00:00:00.000Z",
  "versionId": "1"
}
