infrastructure/n8n/hourly-instagram-live-sync.json
{
  "name": "hourly-instagram-live-sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "7 * * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "CRON :07 every hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CREATOR_HUB_URL }}/api/meta/sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "http-sync",
      "name": "POST /api/meta/sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 60000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "check-ok",
              "leftValue": "={{ $json.body?.ok === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Sync OK ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json.body.result;\nconst summary = [\n  `✅ Hourly Instagram live sync OK`,\n  `Compte: @${result.account.username}`,\n  `Médias: ${result.media.total} (${result.media.created} créés, ${result.media.updated} mis à jour)`,\n  `Insights: ${result.insights.length} médias traités`,\n  `Durée: ${(result.durationMs / 1000).toFixed(1)}s`\n].join('\\n');\n\nreturn [{ json: { summary, result } }];"
      },
      "id": "format-success",
      "name": "Format success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n// Two failure shapes reach here: (1) an HTTP error caught by continueOnFail\n// on the sync node — { error: '...' }, no body/statusCode; (2) a 2xx whose\n// body.ok is not true. Read both so the summary is always legible.\nconst statusCode = item.statusCode ?? null;\nconst error = item.body?.error ?? item.error ?? 'Unknown error';\nreturn [{ json: { error, statusCode, summary: `❌ Hourly Instagram live sync failed: ${error}` } }];"
      },
      "id": "format-error",
      "name": "Format error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CREATOR_HUB_URL }}/api/content/analyze-new-cron",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "http-analyze",
      "name": "POST /api/content/analyze-new-cron",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 200],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 60000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CREATOR_HUB_URL }}/api/content-lab/refresh-recommendations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "http-refresh-reco",
      "name": "POST /api/content-lab/refresh-recommendations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 200],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 30000,
      "continueOnFail": true
    }
  ],
  "connections": {
    "CRON :07 every hour": {
      "main": [
        [{ "node": "POST /api/meta/sync", "type": "main", "index": 0 }]
      ]
    },
    "POST /api/meta/sync": {
      "main": [
        [{ "node": "Sync OK ?", "type": "main", "index": 0 }]
      ]
    },
    "Sync OK ?": {
      "main": [
        [{ "node": "Format success", "type": "main", "index": 0 }],
        [{ "node": "Format error",   "type": "main", "index": 0 }]
      ]
    },
    "Format success": {
      "main": [
        [{ "node": "POST /api/content/analyze-new-cron", "type": "main", "index": 0 }]
      ]
    },
    "POST /api/content/analyze-new-cron": {
      "main": [
        [{ "node": "POST /api/content-lab/refresh-recommendations", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "creator-hub",
    "notes": "Hourly live Instagram sync. Calls POST /api/meta/sync; that route runs the bounded live sync only (recent media via META_SYNC_MEDIA_LIMIT, insights window via META_SYNC_INSIGHTS_DAYS). It does NOT touch archive cursors — archive backfill stays in archive-backfill-cron.json. Cron is :07 every hour to stagger off any archive workflow that fires on round minutes. After a successful sync, the workflow chains: (1) Format success (existing summary, kept unchanged), then (2) POST /api/content/analyze-new-cron to run a small Gemini batch (limit ≤ CONTENT_ANALYSIS_CRON_BATCH_LIMIT, hard-capped at 10) on newly synced posts via the existing runAnalysisBatch({ kind: 'new-only' }) helper — never touches the archive, then (3) POST /api/content-lab/refresh-recommendations to refresh Content Intelligence rows. Both new POST nodes use continueOnFail:true so a Gemini outage or recommendations error never makes the Instagram sync look failed. Reuses N8N_API_KEY shared with /api/meta/sync. Import-only and remains INACTIVE until enabled manually in n8n. Replaces daily-instagram-sync.json (renamed to .deprecated.json)."
  },
  "tags": [
    { "name": "instagram",  "createdAt": "2026-05-06" },
    { "name": "live-sync",  "createdAt": "2026-05-06" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-05-06T00:00:00.000Z",
  "versionId": "1",
  "active": false
}
